<div class="col-md-6 offset-md-3">
    <h3> Create Project</h3>

    <form #f="ngForm" (ngSumbit)="onSubmit(f)" novalidate>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" ngModel required #title="ngModel">
        </div>

        <button type="submit" [disabled]="f.invalid"  class="btn btn-success">Create</button>
    </form>
    <p>First name value: {{ title.value }}</p>
    <p>First name valid: {{ title.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p>
</div>